@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
/* fui no google fonts, escolhi uma fonte, selecionei, e peguei o arroba import para o css */

* { /* resetei o css da pagina */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: #080808;
    color: #eeeeee;
}

.imagemHome {
    border-radius: 24px; /* arredondei as bordas */
}

.textoDestaque {
    color: #9d57ee;
}

.container {
    padding: 10% 15%;
    display: flex; /* ativei o modelo flex */
    align-items: center; /* adicionei a direcao dos itens */
    justify-content: space-between; /* separarei os filhos */
}

.container__conteudo {
    color: #eeeeee;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.container__conteudo__titulo {
    font-size: 32px;
    font-family: 'Krona One', sans-serif; /* utilizei oq eu importei */
}

.container__conteudo__texto {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.container__links__subtitulo {
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.container__links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 26px;
}

.container__links__estilo {
    display: flex;
    justify-content: center;
    gap: 14px;
    width: 220px;
    padding: 15px 0;
    border: 2px solid #9d57ee;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    color: #eeeeee;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.container__links__estilo:hover {
    background-color: #1e1e1e;
}

.container__links__img {
    width: 20px; /* largura desejada */
    height: auto; /* mantém a proporção da imagem */
}

.rodape {
    padding: 18px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #080808;
    background-color: #9d57ee;
}